/* MAIN COLOR PALETTE
*/

html{
  height: 100%;
}

body {
  background-color: black;
  background-image: linear-gradient(45deg, black,rgb(5, 5, 87));
  height: 100%;
  font-family: 'Cabin', sans-serif;
  color: #1980e0;
  scroll-behavior: smooth;
}


/* Dashboard Styling */
.home{
  color: #1980e0;
  min-height: 100vh;
  padding-top: 50px;
  margin-top: 50px;
}
.home h1{
  font-weight: 700;
}
#specialName{
  color: rgb(1, 211, 211);
  text-shadow: 0 0 0.2em rgb(0, 172, 0), 0 0 0.2em green,
0 0 0.2em green
}

/* Main Component Styling */
.introduction, .preskills, .skills, .interests, .contact{
  min-height: 100vh;
  overflow-x: hidden;
}

.projects{
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

/* Card Styling */
.card-img-overlay{
  background-color: rgb(241, 232, 134,0.5);
  color: #260000;
  font-weight: 800;
}

.card{
  transition: transform .2s;
}

.card:hover{
  transform: scale(1.1);
}